html {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

p {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
    padding: 6px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    padding: 12px;
}

.top {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
    padding: 100px 200px 150px 225px;
}

.hero-main {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.top-button {
    background-color: #3882F6;
    border-color: transparent;
    color:#F9FAF8;
    width: 120px;
    font-weight: bold;
    padding: 6px;
    border-radius: 8px;
    margin-top: 6px;
}

.right-box {
    background-color: gray;
    color:#F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 450px;
    margin-right: 70px;
    padding: 120px 100px 120px 100px;
}

.left-box {
    display: flex;
    flex-direction: column;
    flex: 0 1 450px;
    margin-left: 40px;
}

.upper-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
    padding-top: 20px;
}

.top-text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-top: 25px;
    padding-bottom: 30px;
}

.big-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.box {
    border: solid #3882F6;
    border-radius: 12px;
    width: 160px;
    height: 165px;
    margin-left: 25px;
    margin-right: 25px;
}

.big-box p {
    margin-top: 6px;
    width: 150px;
    text-align: center;
}

.bottom-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    flex-wrap: wrap;
    width: 815px;
}

.owner {
    font-weight: 1000;
    color: #1F2937;
    margin-left: 520px;
    font-size: 20px;
}

.bottom {
    display: flex;
    flex-direction: column;
    padding: 80px 400px;
}

.bottom-box {
    display: flex;
    background-color: #3882F6;
    padding: 50px 30px;
    justify-content: center;
    border-radius: 8px;
}

.text p {
    color: white;
}

.call {
    font-weight: 800;
    font-size: 18px;
}

.bottom-button {
    align-self: center;
    padding-left: 300px;
    padding-right: 80px;
}

.bottom-button button {
    padding: 5px 25px;
    border-radius: 6px;
    border-color: white;
    border-style: solid;
    background-color: #3882F6;
    color: white;
    font-weight: 900;
}

.footer {
    padding: 40px;
    background-color: #1F2937;
}

.footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}